
<style type="text/css">
input, select, textarea {
  width: 100%;
}
input#hours {
  width: 50px;
}
input#payment, input#startDate {
  width: 100px;
}
select#type, select#owner {
  width: 300px;
}
input#send {
  width: auto;
}
table td {
  vertical-align: top;
}
td label {
  padding-top: 5px;
}
td.vError {
  color: red;
  padding-left: 20px;
  padding-top: 7px;
}
</style>

<div class="formsContainer" style="float: right;">
  {{#if message}}
    <h2 class="text-success">{{message}}</h2>
  {{/if}}
  
  {{#each savedForms}}
    <!-- border="1" cellspacing="0" cellpadding="0"  -->
    <table class="table table-stripped table-hover table-bordered table-condensed"><tbody>
      <tr>
        <td>FD-{{id}}</td>
        <td colspan="3">{{name}}</td>
      </tr>
      <tr>
        <td>{{type}}</td>
        <td>Liczba godzin dyd.: {{hours}}</td>
        <td>Termin: {{startDate}} r.</td>
        <td>{{payment}} PLN</td><!-- formatowanie liczby -->
      </tr>
      <tr>
        <td>Zakres szkolenia</td>
        <td colspan="3" class="pre">{{scope}}</td>
      </tr>
      <tr>
        <td>Adresaci</td>
        <td colspan="3">{{target}}</td>
      </tr>
      <tr>
        <td>Prowadzący</td>
        <td colspan="3">{{teacher}} TODO łączyć z Kierownikiem jeśli taki sam</td>
      </tr>
      <tr>
        <td>Kierownik</td>
        <td colspan="3">{{owner}}</td>
      </tr>
      <tr>
        <td>Uwagi</td>
        <td colspan="3" class="pre">{{addInfo}}</td>
      </tr>
    </tbody></table>
    <br/>
  {{/each}}
</div>

{{#if error}}
  <p class="text-error">{{error}}</p>
{{/if}} 


<form action="/form" method="POST">
  <table><tbody>
    <tr>
      <td><label for="area">Obszar tematyczny: </label></td>
      <td><select id="area" name="area">
        <option value=""></option>
        {{#each sAreas}}
          <optgroup label="{{name}}">
            {{{options_selected sub ../form.area}}}
          </optgroup>
        {{/each}}
      </select></td>
      <td class="vError">{{validationErrors.area.msg}}</td>
    </tr>
    <tr>
      <td><label for="name">Nazwa formy: </label></td>
      <td><input id="name" name="name" type="text" value="{{form.name}}"/></td>
      <td class="vError">{{validationErrors.name.msg}}</td>
    </tr>
    <tr>
      <td><label for="scope">Zakres szkolenia: </label></td>
      <td><textarea id="scope" name="scope" rows="7">{{form.scope}}</textarea></td>
      <td class="vError">{{validationErrors.scope.msg}}</td>
    </tr>
    <tr>
      <td><label for="target">Adresaci: </label></td>
      <td><input id="target" name="target" type="text" value="{{form.target}}"/></td>
      <td class="vError">{{validationErrors.target.msg}}</td>
    </tr>
    <tr>
      <td><label for="type">Forma zajęć: </label></td>
      <td><select id="type" name="type">
        <option value=""></option>
        {{{options_selected sTypes form.type}}}
      </select></td>
      <td class="vError">{{validationErrors.type.msg}}</td>
    </tr>
    <tr>
      <td><label for="hours">Liczba godzin: </label></td>
      <td><input id="hours" name="hours" type="text" value="{{form.hours}}"/></td>
      <td class="vError">{{validationErrors.hours.msg}}</td>
    </tr>
    <tr>
      <td><label for="startDate">Termin realizacji: </label></td>
      <td><input id="startDate" name="startDate" type="date" value="{{form.startDate}}"/></td>
      <td class="vError">{{validationErrors.startDate.msg}}</td>
    </tr>
    <tr>
      <td><label for="owner">Kierownik szkolenia: </label></td>
      <td><select id="owner" name="owner">
        <option value=""></option>
        {{{options_selected sOwners form.owner}}}
      </select></td>
      <td class="vError">{{validationErrors.owner.msg}}</td>
    </tr>
    <tr>
      <td><label for="teacher">Prowadzący: </label></td>
      <td><input id="teacher" name="teacher" type="text" value="{{form.teacher}}"/></td>
      <td class="vError">{{validationErrors.teacher.msg}}</td>
    </tr>
    <tr>
      <td><label for="payment">Odpłatność: </label></td>
      <td><input id="payment" name="payment" type="text" value="{{form.payment}}"/></td>
      <td class="vError">{{validationErrors.payment.msg}}</td>
    </tr>
    <tr>
      <td><label for="addInfo">Informacje dodatkowe: </label></td>
      <td><textarea id="addInfo" name="addInfo" rows="7">{{form.addInfo}}</textarea></td>
      <td class="vError">{{validationErrors.addInfo.msg}}</td>
    </tr>
  </tbody></table>
  
  <br/>
  <button type="submit" class="btn btn-primary btn-large">Wyślij</button>
  
  <a href="/forms_list">Zobacz już wprowadzone formy</a>
</form>

